<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div align="center">
<br>
<h2> 상세 보기 <a href=index.html>(처음으로)</a> </h2>

<form  action=update.do>
<table border=1>
<tr><td> 제목</td>     <td> <input  type=text name=title    th:value="${m.title}" /> </tr>
<tr><td> 작성자 </td>    <td> <input  type=text name=writer   th:value="${m.writer}" /></tr>
<tr><td> 내용 </td>   <td> <input  type=text name=content  th:value="${m.content}" /> </tr>
<tr><td> 등록일 </td><td th:text="${m.createDate}" /> </tr>
<tr><td> 조회수 </td>       <td> <input  type=text name=cnt th:value="${m.cnt}" /></td> </tr>
<tr> <td colspan=2  align="center"><input  type=submit  th:value="저장하기" /></td> </tr>
</table>
</form>
<br>
<a  th:href="@{getBoardList.do}">목록보기</a> &emsp;
<a  th:href="@{deleteBoard.do(seq=${seq})}">삭제</a> &emsp;
<a  th:href="@{insertBoard}">글등록</a> &emsp;
</div>
</body>
</html>