<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rubypaper.board.persistence.BoardDao">

<!-- id의 값은 ExamDao 인터페이스의 메소드 이름과 매핑된다.   -->
<insert id="insert"  parameterType="com.rubypaper.domain.BoardVO">
 <![CDATA[
   insert  into board1026  (seq, title, writer, content, createDate, cnt)
   values( SEQBoard1021.nextval , #{title}, #{writer}, #{content}, #{createDate} , #{cnt} )
 ]]>
</insert>

<update id="update"  parameterType="com.rubypaper.domain.BoardVO">
 <![CDATA[
   update  board1026 set title=#{title}, writer=#{writer}, content=#{content}
   where  seq=#{seq}
 ]]>
</update>

<update id="cnt"  parameterType="com.rubypaper.domain.BoardVO">
 <![CDATA[
   update  board1026 set cnt=cnt+1
   where  seq=#{seq}
 ]]>
</update>

<delete id="delete"  parameterType="com.rubypaper.domain.BoardVO">
 <![CDATA[
   delete from board1026  where  seq=#{seq}
 ]]>
</delete>


<select id="getBoardList"  parameterType="com.rubypaper.domain.BoardVO"
                          resultType="com.rubypaper.domain.BoardVO" >
 <![CDATA[
   select  *  from board1026 
 ]]>
</select>

<select id="getBoard"  parameterType="com.rubypaper.domain.BoardVO"
                          resultType="com.rubypaper.domain.BoardVO" >
 <![CDATA[
   select  *  from Board1021 where seq=#{seq}
 ]]>
</select>



</mapper>